.mt-sm {
  margin-top: 1.6rem !important;
}

.mt-lg {
  margin-top: 8rem !important;
}

.max-width-m {
  max-width: 80rem !important;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center-text {
  text-align: center !important;
}

.dark {
  color: $color-white;
}

.opacity-m {
  opacity: .4 !important;
}

