// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$color-white       : #fff;
$color-primary     : #575bde;
$color-secondary   : #00d7af;
$color-text        : #110f24;
$color-gray-light  : #f6f6f9;
$color-gray-medium : #ececee;
$color-gray-dark   : #ccced0;
$color-red         : #e52b20;
$color-green       : #63ce63;
$color-orange      : #ffbf2f;

// Fonts
$font-sans  : "Lato", Helvetica, sans-serif;
$font-serif  : "PT Serif", Georgia, serif;

// Maximum widths
$max-width-l : 1140px;

// Breakpoints
$large-screen: 75em;      // 1200px
$medium-screen: 56.25em;  // 900px
$small-screen: 43.75em;   // 700px
$xsmall-screen: 37.5em;   // 600px
