.app {
  padding: 8rem;
  background: linear-gradient($color-white 0%, $color-gray-light 100%);

  &__img {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    border-radius: .8rem;
  }
}