.cta {
  display: flex;
  justify-content: space-between;
  background-color: lighten($color-text, 7%);
  padding: 3.2rem;
  border-radius: .8rem;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .1);

  @media only screen and (max-width: $large-screen) {
    margin-left: 2%;
    margin-right: 2%;
  }

  @media only screen and (max-width: $xsmall-screen) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {

    @media only screen and (max-width: $xsmall-screen) {
      width: 100%;
      text-align: center;
    }
  }

  &__btn {
    width: 33%;
    align-self: center;
    text-align: center;

    @media only screen and (max-width: $xsmall-screen) {
      margin-top: 4rem;
      width: 60%;
    }
  }

}