.features {
  position: relative;
  width: 100%;
  color: $color-white;
  padding: 8rem;

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    &:not(:last-child) {
      margin-bottom: 8rem;
    }

    &--hero {
      min-height: 100vh;
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &--reverse .features__content {
      margin-right: 0;
      margin-left: 2%;
    }

    &--reverse .features__img {
      margin-right: 2%;
      margin-left: 0;
    }
  }

  &__content {
    flex: 1 1 0;
    margin-right: 2%;
  }

  &__img {
    display: block;
    width: 0;
    flex: 1 1 0;
    margin-left: 2%;
  }
}