.features {
  position: relative;
  width: 100%;
  color: $color-white;
  padding: 8rem;

  @media only screen and (max-width: $medium-screen) {
    padding: 4rem;
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    @media only screen and (max-width: $small-screen) {
      flex-direction: column;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 8rem;
    }

    &--hero {
      min-height: calc(100vh - 8rem);

      @media only screen and (max-width: $medium-screen) {
        min-height: calc(80vh - 8rem)
      }

      @media only screen and (max-width: $small-screen) {
        margin-top: 16rem;
      }
    }

    &--reverse {
      flex-direction: row-reverse;

      @media only screen and (max-width: $small-screen) {
        flex-direction: column;
      }
    }

    &--reverse .features__content {
      margin-right: 0;
      margin-left: 2%;
    }

    &--reverse .features__img {
      margin-right: 2%;
      margin-left: 0;
    }
  }

  &__content {
    flex: 1 1 0;
    margin-right: 2%;
  }

  &__img {
    display: block;
    width: 0;
    flex: 1 1 0;
    margin-left: 2%;

    @media only screen and (max-width: $small-screen) {
      flex-direction: column;
      width: 90%;

      flex: 1 0 auto;
      margin: 4rem auto;
    }
  }
}