// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent;
  padding: 3.2rem;
  min-height: 4rem;

  position: absolute;
  top: 0;
  z-index : 20;

  @media only screen and (max-width: $small-screen) {
    justify-content : space-between;
  }

  &__logo {
    margin-right: 4rem;
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-white;
      text-decoration: none;
    }

    span {
      font-family: $font-serif;
      font-size: 2.4rem;
      font-weight: 700;
      line-height : 4rem;
      letter-spacing: .05rem;
      vertical-align: bottom;
    }
  }

  &__hamburger,
  &__hamburger:before,
  &__hamburger:after {
    display: none;
    position: relative;
    width: 3rem;
    height: 3px;
    background-color: white;

    @media only screen and (max-width: $small-screen) {
      display: inline-block;
    }
  }

  &__hamburger:before,
  &__hamburger:after {
    position: absolute;
    content: "";
    left: 0;
  }

  &__hamburger:before {top: -.8rem}
  &__hamburger:after {top: .8rem}

}

.main-nav {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $small-screen) {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    align-items: center;

    &:not(:last-child) {
      padding-right: 3.2rem;
    }
  }

  &__link {
    @include link {
      font-size: 1.6rem;
      font-weight: 600;
    }

    &:link,
    &:visited {
      color: rgba($color-gray-medium, .5);
    }

    &:hover,
    &:active {
      color: $color-white;
    }

    &--active {
      color: $color-white !important;
    }
  }


}